/* Common */

body {
	/* box-sizing: border-box; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12pt;
}


/* Layout */

.screened {
	bottom: 0px;
	display: flex;
	flex-flow: column;
	gap: 10px;
	left: 0px;
	/* min-height: 400px; */
	min-width: 800px;
	position: absolute;
	right: 0px;
	top: 0px;

	& *,
	& .static {
		flex: 0 1 auto;
	}

	& .elastic {
		/* flex: 1 1 auto; */
		overflow-y: hidden;
	}
}

.centered {
	left: 50%;
	position: relative;
	transform: translate(-50%, 0);
	width: fit-content;
}

.scrollable {
	bottom: 0px;
	left: 0px;
	max-height: 100%;
	overflow: auto;
	right: 0px;
	top: 0px;
}


/* Tab bars */

ul.tab_bar {
	border-bottom: 2px #4040FF solid;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style-type: none;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px 2px;

	& li a {
		background-color: #C0C0C0;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-sizing: border-box;
		color: black;
		display: block;
		margin: 0px 4px;
		min-width: 120px;
		padding: 6px 12px;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-color: #C0C0FF;
		}

		&[href="#"] {
			background-color: #4040FF;
			color: white;
			cursor: default;
		}

		&:not([href]) {
			background-color: #F0F0F0;
			color: #C0C0C0;
			cursor: default;
		}
	}
}

.screened ul.tab_bar {
	/* TODO: Screened should be the defaut */
	margin-bottom: 0px;
}


/* Tables */

table.table {
	border: none;
	border-collapse: collapse;
	border-spacing: 0px;

	& thead {
		position: sticky;
		top: 0px;
		background-color: #FF4040;
	}

	& tbody {
		& tr:nth-child(even) {
			background-color: #F0F0F0;
		}

		& tr:hover {
			background-color: #FFF0F0;
		}
	}

	& tfoot {
		bottom: 0px;
		position: sticky;
		background-color: #C0C0C0;

		& td {
			font-weight: bold;
		}
	}

	& th,
	& td {
		border: none;
		min-height: 20px;
		padding: 2px 8px;
		vertical-align: top;
	}

	& th {
		text-align: center;
	}

	& td {
		text-align: left;
	}
}

table.sale_table td {
	text-align: right;
}


/* Buttons */

a.button {
	background-color: #FFFF40;
	border: 1px #C0C0C0 solid;
	border-width: 0px 1px 1px 0px;
	color: black;
	display: inline-block;
	font-size: 12pt;
	min-width: 100px;
	padding: 4px 8px;
	text-align: center;
	vertical-align: middle;

	&:hover {
		background-color: #E0E040;
		cursor: pointer;
	}

	&:active {
		border-width: 1px 0px 0px 1px;
	}
}

table a.button {
	font-size: 9pt;
	min-width: 60px;
	padding: 2px 4px;
}


/* Button bars */

.button_bar {
	column-gap: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}